{
"owner": "{{ getv "/config/owner" }}",
"server": "{{ getv "/config/bugzilla_server" }}",
"user": "{{ getv "/config/bugzilla_user" }}",
"password": "{{ getv "/config/bugzilla_password" }}",
"smtp_server": "{{ getv "/config/SMTP/Server" }}",
"smtp_password": "{{ getv "/config/SMTP/Password" }}",
"smtp_user": "{{ getv "/config/SMTP/User" }}",
"smtp_from": "{{ getv "/config/smtp_from" }}"
}
