{
"owner": "{{ getv "/config/owner" }}",
"server": "{{ getv "/config/bugzilla_server" }}",
"user": "{{ getv "/config/bugzilla_user_bznag" }}",
"password": "{{ getv "/config/bugzilla_password_bznag" }}",
"smtp_server": "{{ getv "/config/SMTP/Server" }}",
"smtp_password": "{{ getv "/config/SMTP/Password" }}",
"smtp_user": "{{ getv "/config/SMTP/User" }}",
"smtp_from": "{{ getv "/config/smtp_from_bznag" }}"
}
